@tailwind base;
@tailwind components;
@tailwind utilities;


.paginate {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}

.paginate li {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(159, 159, 159);
    margin: 5px;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.paginate li:hover {
    background: rgb(232, 218, 246);
}

.product-card .slick-slider .slick-dots {
    background-color: white;
    border: 1px solid #8080805e;
    border-radius: 20px;
}

.product-card .slick-slider .slick-arrow {
    display: none !important;
}